<form method="POST" action="/landmarks">
  <input type="hidden" id="hidden" name="_method" value="PATCH" />
  <input type="text" name="landmark[name]" id="landmark_name" />
  <input type="number" name="landmark[year_completed]" id="landmark_year_completed" />
  <input type="submit" value="Edit Landmark" id="Edit Landmark" />
</form>