<form method="POST" action="/landmarks">
  <input type="hidden" id="hidden" name="_method" value="PATCH" />

  <label for="landmark[name]">Landmark Name: </label>
  <input type="text" name="landmark[name]" id="landmark_name" value = "<%=@landmark.name%>"/>
  <br />
  <label for="landmark[name]">Year Completed: </label>
  <input type="number" name="landmark[year_completed]" id="landmark_year_completed" value="<%=@landmark.year_completed%>"/>
  <br />
  <label for="landmark[figure_id]">Figure Recognized: </label>
  <%Figure.all.each do |figure|%>
    <input type="checkbox" name="landmark[figure_id]" <%='checked' if @landmark.figure_id==figure.id%>><%=figure.name%></input>
  <%end%>
  <br />
  <input type="submit" value="Edit Landmark" id="Edit Landmark" />
</form>
