<form method="POST" action="/landmarks">
  <input type="text" name="name" id="landmark_name" />
  <input type="number" name="year_completed" id="landmark_year_completed" />
  <input type="submit" value="Create New Landmark" id="Create New Landmark" />
</form>
