<h2><%=@figure.name%></h2>
<h5>Titles:</h5>
<ul>
  <%@figure.titles.each do |title|%>
    <li>
      <%=title.name%>
    </li>
</ul>
<h5>Landmarks:</h5>
<ul>
  <%@figure.landmarks.each do |lm|%>
    <li>
      <%=lm.name%>
    </li>
</ul>
<a href="figures/<%=@figure.id%>/edit">Edit this Figure</a>